<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{user.first_name}} {{user.last_name}}</title>
  <link rel="stylesheet" href="/css/materialize.min.css">
  <link rel="stylesheet" href="/css/djboard.css">
</head>
<header>
  <nav>
    <div class="nav-wrapper black">
      <a href="/" class="brand-logo">Que<span class = "textColor" id = "djLogo">DJ</span></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/users/{{user.first_name}}-{{user.last_name}}">Profile</a></li>
        <li><a href="/logout"class="waves-effect waves-light btn btnColor">Logout</a></li>
      </ul>
    </div>
  </nav>
</header>

<body>
  <div class="container">
    <div class="row">
      <div class="col card m12 s12">
        <div class="row">
          <ul id="listQue" class="collection with-header">
            <li class="collection-header">
              <h4 class = "text">Your <span class = "textColor">Que🎶</span></h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="scripts/jquery.js"></script>
  <script type="text/javascript" src="scripts/materialize.min.js"></script>
  <script src="scripts/djboard.js"></script>
</body>

</html>
