body {
  background-color:  white;
}

.brand-logo {
  margin-left: 30px;
}

.text{
  text-align: center;
}

#submitBtn{
  float: right;
  margin-right: 30px;

}

.btn:hover {
  background-color: white;
  color: #651fff;
}

.input-field input[type=text]:focus+label {
  color: #651fff;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #651fff;
  box-shadow: 0 1px 0 0 #651fff;
}

.input-field input[type=password]:focus+label {
  color: #651fff;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid #651fff;
  box-shadow: 0 1px 0 0 #651fff;
}

option:focus{
  color: purple;
}

.input-field input[type=email]:focus+label {
  color: #651fff;
}

.input-field input[type=email]:focus {
  border-bottom: 1px solid #651fff;
  box-shadow: 0 1px 0 0 #651fff;
}

.textColor {
  color: #651fff;
}

.btnColor {
  background-color: #651fff;
}

.collection {
  height: 570px;
  overflow: auto;
}
